<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>

    <script src="//unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>
    <link
      rel="stylesheet"
      href="//unpkg.com/swagger-ui-dist@3/swagger-ui.css"
    />
  </head>
  <body>
    <div id="swagger-ui"></div>

    <script>
      window.onload = function() {
        var ui = SwaggerUIBundle({
          url: "{{ spec_url }}",
          dom_id: "#swagger-ui",
          presets: [
            SwaggerUIBundle.presets.apis,
            SwaggerUIBundle.SwaggerUIStandalonePreset
          ]
        });
        window.ui = ui;
      };
    </script>
  </body>
</html>
